* {
	box-sizing: border-box;
}

body, .quote-input {
	font-family: 'Garamond', 'serif';
}

body {
	display: flex;
	justify-content: center;
	align-items: center;	
	min-height: 100vh;
	margin: 0;
	background-color: #b5ffdc;
}

.container {
	background-color: #ffbfb5;
	border-radius: .5rem;
	padding: 1rem;
	width: 700px;
	max-width: 90%;
}

#wpm {
	position: absolute;
	top: 4rem;
	left: calc(50% - 350px);
	font-size: 4rem;
	color: #ffbfb5;
	font-weight: bold;
}

#acc {
	position: absolute;
	top: 4rem;
	right: calc(50% - 350px);
	font-size: 4rem;
	color: #ffbfb5;
	font-weight: bold;
}

#quote {
	margin-left: calc(1rem + 3px);
	margin-right: calc(1rem + 3px);
	font-size: 1.5rem;
	font-weight: bold;
}

.correct {
	color: green;
}

.incorrect {
	color: red;
	text-decoration: underline;
}