* {
	box-sizing: border-box;
}

body, .quote-input {
	font-family: 'Garamond', 'serif';
}

body {
	display: flex;
	justify-content: center;
	align-items: center;	
	min-height: 100vh;
	margin: 0;
	background-color: #b5ffdc;
}

.container {
	background-color: #ffbfb5;
	border-radius: .5rem;
	padding: 1rem;
	width: 700px;
	max-width: 90%;
}

#wpm {
	position: absolute;
	top: 4rem;
	left: calc(50% - 350px);
	font-size: 4rem;
	color: #ffbfb5;
	font-weight: bold;
}

#acc {
	position: absolute;
	top: 4rem;
	right: calc(50% - 350px);
	font-size: 4rem;
	color: #ffbfb5;
	font-weight: bold;
}

#quote {
	margin-bottom: 1rem;
	margin-left: calc(1rem + 3px);
	margin-right: calc(1rem + 3px);
	font-size: 1.5rem;
	font-weight: bold;
}

#quote_input {
	margin: auto;
	padding: .5rem 1rem;
	resize: none;
	outline: none;
	border: 3px solid #f57258;
	background-color: transparent;
	width: 100%;
	height: 7rem;
	font-size: 1.5rem;
	border-radius: .5rem;
}

#quote_input:focus {
	border-color: black;
}